@import '../mooxins';

$w: 100px;

div {
	width: $w;
	height: $w;
	float: left;
	margin: 5px;
}

.opacity {
	@include opacity(0.5);
}

.test-property {
	@include moo(box-sizing, border-box);
}

.test-value-many {
	@include moobg(linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url(example.png) center center no-repeat);
}

.test-value-many {
	@include moobg(linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)));
}


.clearfix {
	@include clearfix();
}

.test {
	position: absolute;
	top: 0;
	left: 0;
	@include moo(animation, cow 1s alternate infinite);
}

@include keyframes(cow){
	0% {left: 0px;}
	100% {left: 200px;}
}