@import '../mooxins';

$w: 100px;

div {
	width: $w;
	height: $w;
	float: left;
	margin: 5px;
}

.opacity {
	@include opacity(0.5);
}

.test-property {
	@include moo(transition, all 0.5s ease-in-out, webkit moz);
}

.test-value-many {
	@include moobg(linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), null, webkit);
}

.clearfix {
	@include clearfix();
}