// Prefix for property
@mixin moo($property, $value, $prefixes: webkit moz ms o) {
	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: #{$value};
	}
	#{$property}: #{$value};
}

// Prefix for value
@mixin moobg($gradients, $static: null, $prefixes: webkit moz ms o) {
	@if $static {
		$static: #{$static};
	}
	@each $prefix in $prefixes {
		$out: null;
		@each $gradient in $gradients {
			$gradientPrefixed: unquote('-' + $prefix + '-' + $gradient);
			$out: append($out, $gradientPrefixed, comma);
		}
		$out: join($out, $static, comma);
		background: $out;
	}
	$out: null;
	@each $gradient in $gradients {
		$out: append($out, $gradient, comma);
	}
	$out: join($out, $static, comma);
	background: $out;
}

// Opacity
@mixin opacity ($value) {
	opacity: #{$value};
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value*100})"; // IE8
}

// Clearfix
@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

// Keyframes
@mixin keyframes($name){
	@-webkit-keyframes $name {@content;}
	@-moz-keyframes $name {@content;}
	@-o-keyframes $name {@content;}
	@keyframes $name {@content;}
}