// Opacity
@mixin opacity ($value) {
	opacity: #{$value};
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value*100})"; // IE8
}

// Border Radius
@mixin border-radius ($radius) {
	-webkit-border-radius: #{$radius}; // iOS Safari 3.2 ; Android 2.1
	-moz-border-radius: #{$radius}; // 3.6
	border-radius: #{$radius};
}

// Drop shadows
@mixin box-shadow ($shadow) {
	-webkit-box-shadow: #{$shadow}; // iOS Safari 4.3 ; Android 4.0
	-moz-box-shadow: #{$shadow}; // 3.6
	box-shadow: #{$shadow};
}

// Box sizing
@mixin box-sizing ($value) {
	-webkit-box-sizing: #{$value}; // iOS Safari 4.3 ; Android 3.0
	-moz-box-sizing: #{$value};
	box-sizing: #{$value};
}

// Background clip
@mixin background-clip ($value) {
	-moz-background-clip: #{$value}; // 3.6
	background-clip: #{$value};
}

// Text overflow
@mixin text-overflow ($value) {
	-ms-text-overflow: #{$value}; // IE8
	-o-text-overflow: #{$value};
	text-overflow: #{$value};
}

// Border image
@mixin border-image($value) {
	-webkit-border-image: #{$value};
	-moz-border-image: #{$value};
	-o-border-image: #{$value};
	border-image: #{$value};
}

// Transform
@mixin transform ($value) {
	-webkit-transform: #{$value};
	-moz-transform: #{$value};
	-ms-transform: #{$value};
	-o-transform: #{$value};
	transform: #{$value};
}

@mixin transform-origin ($value) {
	-webkit-transform-origin: #{$value};
	-moz-transform-origin: #{$value};
	-ms-transform-origin: #{$value};
	-o-transform-origin: #{$value};
	transform-origin: #{$value};
}

@mixin transform-style ($value) {
	-webkit-transform-style: #{$value};
	-moz-transform-style: #{$value};
	-o-transform-style: #{$value};
	transform-style: #{$value};
}

// Linear gradient
@mixin linear-gradient ($value) {
	background-image: -moz-linear-gradient(#{$value});
	background-image: -ms-linear-gradient(#{$value});
	background-image: -webkit-linear-gradient(#{$value});
	background-image: -o-linear-gradient(#{$value});
	background-image: linear-gradient(#{$value});
}

@mixin gradient-horizontal ($startColor, $endColor) {
	background-color: mix($startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
	background-image: linear-gradient(left, $startColor, $endColor);
}

@mixin gradient-vertical ($startColor, $endColor) {
	background-color: mix($startColor, $endColor);
	background-image: -moz-linear-gradient(top, $startColor, $endColor);
	background-image: -ms-linear-gradient(top, $startColor, $endColor);
	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
	background-image: -o-linear-gradient(top, $startColor, $endColor);
	background-image: linear-gradient(top, $startColor, $endColor);
}

// Radial gradient
@mixin radial-gradient ($value) {
	background-image: -webkit-radial-gradient(#{$value});
	background-image: -moz-radial-gradient(#{$value});
	background-image: -o-radial-gradient(#{$value});
	background-image: radial-gradient(#{$value});
}

// Transition
@mixin transition ($value) {
	-webkit-transition: #{$value};
	-moz-transition: #{$value};
	-o-transition: #{$value};
	transition: #{$value};
}

@mixin transition-property ($value) {
	-webkit-transition-property: #{$value};
	-moz-transition-property: #{$value};
	-o-transition-property: #{$value};
	transition-property: #{$value};
}

@mixin transition-duration ($value) {
 	-webkit-transition-duration: #{$value};
	-moz-transition-duration: #{$value};
	-o-transition-duration: #{$value};
	transition-duration: #{$value};
}

@mixin transition-timing-function ($value) {
 	-webkit-transition-timing-function: #{$value};
	-moz-transition-timing-function: #{$value};
	-o-transition-timing-function: #{$value};
	transition-timing-function: #{$value};
}

@mixin transition-delay ($value) {
 	-webkit-transition-delay: #{$value};
	-moz-transition-delay: #{$value};
	-o-transition-delay: #{$value};
	transition-delay: #{$value};
}

//Perspective
@mixin perspective ($value) {
	-webkit-perspective: #{$value};
	-moz-perspective: #{$value};
	perspective: #{$value};
}

@mixin perspective-origin ($value) {
	-webkit-perspective-origin: #{$value};
	-moz-perspective-origin: #{$value};
	perspective-origin: #{$value};
}

//Backface visibility
@mixin backface-visibility ($value) {
	-webkit-backface-visibility: #{$value};
	-moz-backface-visibility: #{$value};
	backface-visibility: #{$value};
}